/* src/css/index.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #121212; /* almost black */
  color: #e0e0e0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input, button {
  font-family: inherit;
  color: #e0e0e0;
  background-color: #1e1e1e;
  border: 1px solid #333;
}

input::placeholder {
  color: #888;
}
